<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Trade Craft</title>
</head>
<body class="">
    <nav>
        <div class="logo">📈 Trade Craft</div>
        <div class="nav-links">

            {% if session.user_id %}
                <a href="{{ url_for('research') }}">Research</a>
                <a href="{{ url_for('trade') }}">Trade</a>
                <a href="{{ url_for('portfolio') }}">Portfolio</a>
                <a href="{{ url_for('rules') }}">Rules</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            {% else %}
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('rules') }}">Rules</a>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('register') }}">Register</a>
                <a href = "{{ url_for('forgot_password') }}">Forgot Password</a>

            {% endif %}
        </div>
    </nav>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}{% for m in messages %}<p class="flash">{{ m }}</p>{% endfor %}{% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>